<!DOCTYPE html>
<html>
  <head>
    <title><%= t("title_home") %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all",
    "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= favicon_link_tag "icon.png" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= render "shared/flash_message.js.erb" %>
    <div id="wrapper" class="wrapper" style="margin-top: 10px;">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
